*.iml
.gradle
/local.properties
/.idea/.name
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/codeStyles/Project.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/scopes/scope_settings.xml
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
vcs.xml
target
flamegraph.svg
perf.data
perf.data.old
app/release